#barrita {
    padding-left: 80px;
    padding-right: 80px;
}

#fondo{
    background-color: orange;
}

#cajita_1{
    margin-top: 100px;
    background-color: white;
    width:800px ;
    height:600px ;
    
}

#imagen {
    height: 135.094px ;
    width:  257.328px ;
}

